@model IEnumerable<OptionsWebSite.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Add User", "AddUser", new { roleName = item.RoleName }) |
                @Html.ActionLink("Remove User", "RemoveUser", new { roleName = item.RoleName }) |
                @Html.ActionLink("Delete", "Delete", new { roleName = item.RoleName })
            </td>
        </tr>
    }

</table>
